{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hjemmesiden</title>
</head>

<div class="topnav">
    <a class="active" href="#home">Hjem</a>
    <a href="#news">Blogg</a>
    <a href="#contact">Kontakt oss</a>
    <a href="#about">Om oss</a>
</div>

<body>

<h1>Hjemmeside</h1>

<br>
<img src = "static/img/homepageCar.jpg" class ="w3-border w3-padding center w3-round-small" alt = "frontpagelogo"><br>

<p> Velkommen til hjemmesiden vår! </p>
</body>
</html>


{# The Footer #}
<div class="footer">
    <div class="container">
        <footer>Copyright: Løkse Maskin AS <br>
        Author: Tobias Hyldmo<br>
            <a href="mailto:tobiashyldmo@gmail.com">tobiashyldmo@gmail.com</a></footer>

    </div>
</div>
