{% extends 'base.html' %}
{% load static %}

{% block content %}
<img src = "/static/img/aboutCar.jpg" class ="w3-border w3-padding center w3-round-small" alt = "aboutCar"><br>

<p>Løkse Maskin AS holder til på Salangsverket. Vi er en tradisjonell entreprenørbedrift, som driver med graving og transport i alle former.</p>
<br>​

Noen eksempler på hva vi tilbyr:
<ul>    <li>Graving</li>
    <li>Transport</li>
    <li>Sprengning</li>
    <li>Leveranse av diverse materiell (avløp og vannrør, rørdeler, fiberduk o.l)</li>
    <li>Grusmasser (veigrus, pukk og matjord)</li>
</ul>


{% endblock content %}
